{{ ansible_managed | comment }}
[Unit]
Description=Extend the battery life of laptop
# Following line ensures NICs are set up properly before enabling power saving
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/powertop --auto-tune
# NIC power saving causes interfaces not to go up after going down (recabling, switch reboot, etc.)
# Disable power saving as in following example:
# ExecStart=/bin/sh -c "echo 'on' > /sys/bus/pci/devices/0000:00:1c.6/power/control"
{% if ansible_facts.hostname == 'bagel' %}
ExecStart=/bin/sh -c "echo on > /sys/bus/pci/devices/0000:00:1c.6/power/control"
{% elif ansible_facts.hostname == 'challah' %}
ExecStart=/bin/sh -c "echo on > /sys/bus/pci/devices/0000:00:1f.6/power/control"
{% elif ansible_facts.hostname == 'obwarzanek' %}
ExecStart=/bin/sh -c "echo on > /sys/bus/pci/devices/0000:02:00.0/power/control"
{% endif %}

[Install]
WantedBy=multi-user.target
