{{ ansible_managed | comment }}
[Unit]
Description=Extend the battery life of laptop
# Following line ensures NICs are set up properly before enabling power saving
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/powertop --auto-tune
# NIC power saving causes multiple issues, for example:
#   - interfaces not to go up after going down (recabling, switch reboot, etc.)
#   - lost link during SR-IOV configuration
#   - IRQ issues
# NIC power saving deactivated:
{% for device in pci_network_devices %}
ExecStart=/bin/sh -c "echo on > /sys/bus/pci/devices/{{ device.businfo.split('@')[1] }}/power/control"
{% endfor %}

[Install]
WantedBy=multi-user.target
